body{
    background:rgb(204, 204, 204);
    min-height: 100vh;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
.container{
    background: white;
    height: 12vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid rgb(128, 127, 127);
}
.navi{
    height: 12vh;
    width: 15vw;
    background-color: rgb(74, 170, 165);
    font-size: 2em;
    margin-left: 100px;
    text-align: center;
    line-height: 70px;
    color: white;
    font-weight: bold;


}
.nave >ul{
    height: 12vh;
    display: flex;
    line-height: 70px;
    

        
}
li{
    margin: 0 5px;
    display: inline;
    font-size: 1em;
    padding-right: 15px;
    line-height: 50px;
    border-right:1px solid gray;
    color: gray;
    
}
.mid{
    height: 110vh;
    width: 75%;
    display: flex;
    margin:0 auto; 
    margin-top: 40px;
    
    display: flex;
    justify-content: space-around;
}

.form{
    padding: 10px;
    background-color: white;
    height: 100vh;
    width: 45vw;
   
}
.form>h1{
    color :rgb(74, 170, 165);
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
    
}

form{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 1.5em;
    color: gray;
    margin: 10px;
}
input{
    margin: 10px;
}
textarea{
    width: 43vw;
    height: 30vh;
    margin: 10px;
    
}
.sub{
    background-color: #4aaaa5;
    color: white;
    height: 40px;
    width: 125px;
    font-size: 1.25em;
}






.contacta{
    border:1px solid rgb(105, 105, 104);
    height: 20vh;
    width: 15vw;
    display: inline-block;
    background-color: white;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;

    

}
.contacta >div{
    padding-left: 15px;
}
.contacta >div>img{
    height: 50px;
    padding-top: 10px;
    
    
}
.fhold{
    padding-bottom: 13vh;
}

footer{
    height: 13vh;
    width: 100%;
    background-color: gray;
    position:absolute;
    bottom:0px;
    border-top: 5px solid rgb(74, 170, 165);
    text-align: center;
    line-height: 80px;
    font-size: 0.8em;
    color: white;
}