html{
    height: 180vh;
}
body{
    background:rgb(204, 204, 204);
    
    height: 180vh;
    position: relative;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
.container{
    background: white;
    height: 12vh;
    width: 99vw;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid rgb(128, 127, 127);
}
.navi{
    height: 12vh;
    width: 15vw;
    background-color: rgb(74, 170, 165);
    font-size: 2em;
    margin-left: 100px;
    text-align: center;
    line-height: 70px;
    color: white;
    font-weight: bold;


}
.nave >ul{
    height: 12vh;
    display: flex;
    line-height: 70px;
    

        
}
li{
    margin: 0 5px;
    display: inline;
    font-size: 1em;
    padding-right: 15px;
    line-height: 50px;
    border-right:1px solid gray;
    color: gray;
    
}
.mid{
    height: 150vh;
    display: flex;
    margin-top: 20px;
    width: 75%;
    margin: 40px auto;
    justify-content: space-around;
}
.portfolioa{
    height: 90%;
    width: 45vw;
    background-color: white;
    padding: 10px;
    
    

}
.portfolioa>h1{
    color:  rgb(74, 170, 165); 
    border-bottom: 1px solid gray;
    
    padding: 10px;
    font-size: 2em;
    font-weight: bold;
}
.sekil{
    display: flex;
    width: 90%;
    height: 100%;
    flex-wrap: wrap;
    margin:10px auto;

}
.sekil>div{
    background-repeat: no-repeat;
    width: 45%;
    height: 22%;
    margin: 0 10px;
}

.bg1{
    background-size: 100%;
    background-image: url(images/technics-q-c-640-480-1.jpg);
    position: relative;
}
.bg1>h1{
    background-color: rgb(74, 170, 165);
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 5%;
    text-align: center;
    font-size: 1.5em;
    color: white;
}
.bg2{
    background-size: 100%;
    background-image: url(images/technics-q-c-640-480-2.jpg);
    position: relative;
}
.bg2>h1{
    background-color: rgb(74, 170, 165);
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 5%;
    text-align: center;
    font-size: 1.5em;
    color: white;
   

}
.bg3{
    background-size: 100%;
    background-image: url(images/technics-q-c-640-480-5.jpg);
    position: relative;
}
.bg3>h1{
    background-color: rgb(74, 170, 165);
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 5%;
    text-align: center;
    font-size: 1.5em;
    color: white;
   

}
.bg4{
    background-size: 100%;
    background-image: url(images/technics-q-c-640-480-7.jpg);
    position: relative;
}
.bg4>h1{
    background-color: rgb(74, 170, 165);
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 5%;
    text-align: center;
    font-size: 1.5em;
    color: white;
   

}
.bg5{
    background-size: 100%;
    background-image: url(images/technics-q-c-640-480-9.jpg);
    position: relative;
}
.bg5>h1{
    background-color: rgb(74, 170, 165);
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 5%;
    text-align: center;
    font-size: 1.5em;
    color: white;
   

}




.contacta{
    border:1px solid rgb(105, 105, 104);
    height: 22vh;
    width: 15vw;
    display: inline-block;
    background-color: white;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;

    

}
.contacta >div{
    padding-left: 15px;
}
.contacta >div>img{
    height: 50px;
    padding-top: 10px;
    
    
}

footer{
    
    height: 13vh;
    width: 100%;
    background-color: gray;
    position:absolute;
    bottom:0px;
    border-top: 5px solid rgb(74, 170, 165);
    text-align: center;
    line-height: 80px;
    font-size: 0.8em;
    color: white;

}