body{
    background:rgb(204, 204, 204);
    min-height: 100vh;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
.container{
    background: white;
    height: 12vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid rgb(128, 127, 127);
}
.navi{
    height: 12vh;
    width: 15vw;
    background-color: rgb(74, 170, 165);
    font-size: 2em;
    margin-left: 100px;
    text-align: center;
    line-height: 70px;
    color: white;
    font-weight: bold;


}
.nave >ul{
    height: 12vh;
    display: flex;
    line-height: 70px;
    

        
}
li{
    margin: 0 5px;
    display: inline;
    font-size: 1em;
    padding-right: 15px;
    line-height: 50px;
    border-right:1px solid gray;
    color: gray;
    
}
.mid{
    height: 50%;
    display: flex;
    margin-top: 20px;
    
}
.abouta{
    border:1px solid rgb(121, 120, 122);
    height: 100%;
    width: 35%;
    display: inline-block;
    background-color: white;
    padding: 10px;
    margin-left: 320px;
    margin-right: 30px;
    

}
.abouta>img{
    margin: 15px;
    height: 270px;
}
.contacta{
    border:1px solid rgb(105, 105, 104);
    height: 22%;
    width: 15%;
    display: inline-block;
    background-color: white;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;

    

}
.contacta >div{
    padding-left: 15px;
}
.contacta >div>img{
    height: 50px;
    padding-top: 10px;
    
    
}
footer{
    margin-top: 10px;
    height: 13vh;
    width: 100%;
    background-color: gray;
    position:absolute;
    bottom: 0;
    border-top: 5px solid rgb(74, 170, 165);
    text-align: center;
    line-height: 80px;
    font-size: 0.8em;
    color: white;

}